html,
body{
    height: 100%;
    margin: 0;
    background-color: rgb(188, 238, 238);
}

.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.centred{
    text-align: center;
}
input[type="text"],
button{
    margin: 5px;
    padding: 10px;
    font-size: 36px;
    border-radius: 20px;
}
button{
    background-color: rgb(255, 3, 129);
}
#list{
    
    font-size: 40px;
    width:  50px;
    height: 60px;
    color: black;
    border-radius: 10px;
}

#num1,
#num2{
   max-width:300px;
}
#result{
    max-width: 400px;
 }
button:hover{
     box-shadow: 5px 3px;
}

@media (max-width: 1024px) {
 #num1,
 #num2{
    max-width:200px;
 }
 #result{
    max-width: 250px;
 }
 #list{
    max-width:  50px;

}
}
@media (max-width: 425px) {
    #num1,
    #num2{
       max-width:100px;
    }
    #result{
       max-width: 160px;
    }
   }

   @media (max-width: 320px) {
    #num1,
    #num2{
       max-width:60px;
    }
    #result{
       max-width: 170px;
    }
   }